@import 'normalize.css';

:root {
  background: #FAFAFA;
  color: #1D1D1F;
  font-family: Manrope;

  scroll-behavior: smooth;
}

.container {
  padding: 0 70px;
}

.home {
  background-image: url("./assets/mountain.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

header {
  margin-top: 70px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: Onest;
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
}

.header__nav {
  display: flex;


  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.header__list {
  display: flex;
  align-items: center;
  column-gap: 40px;

  list-style-type: none;
  padding: 0px;
  margin: 0px;

  a {
    color: #1D1D1F;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  a:hover {
    color: #5d5d64;
  }
}

.home__content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home__title {
  margin: 0;
  font-size: 64px;
  font-weight: 800;
  line-height: 120%;
}

.home__desc {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.home__btn {
  margin-top: 80px;
  padding: 15px 50px;
  border-radius: 15px;
  border: none;
  background: #1D1D1F;
  cursor: pointer;

  color: #FAFAFA;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;

  transition: all 0.2s ease;
}

.home__btn:hover {
  background: #2c2c2f;
}

.features {
  margin: 80px 0;
}

.features__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 60px;
  column-gap: 40px;
}

.features__title {
  margin: 0;

  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
}

.features__desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

#cooler {
  grid-column: 2 / 3;
}

#cooler-desc {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

footer {
  margin-top: 80px;
  padding: 45px 0;
  border-radius: 10px 10px 0 0;
  background: #1D1D1F;
}


.footer__logo {
  color: #828282;
  font-family: Onest;
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
}

.footer__nav {
  display: flex;

  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  list-style-type: none;
  padding: 0px;
  margin: 0px;

  a {
    color: #FAFAFA;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer-wrapper {
  display: flex;
  gap: 130px;
}

.catalog__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items:center;
}

.catalog__img {
  width: 250px;
  height: 250px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.catalog__title {
  margin: 0;  
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
    /* 36px */
}

.catalog__price {
  color: #0EA603;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.catalog__btn {
  margin-top: 10px;
  padding: 10px 50px;
  border-radius: 15px;
  border: none;
  background: #1D1D1F;
  cursor: pointer;
  
  color: #FAFAFA;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;

  transition: all 0.2s ease;
}
  
.catalog__btn:hover {
  background: #2c2c2f;
}